
<p>
  <strong>Ad:</strong>
  <%= @message.ad.title %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @message.user.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<%= link_to 'Edit', edit_ad_message_path(@ad, @message) %> |
<%= link_to 'Back', ad_path(@ad) %>
